.section {
  padding: 80px 0;

  &.bg-custom-gray {
    background: rgba(#f2f4f7, 0.15);
  }

  .container{
    .sub-container{
      width: inherit;
      padding: inherit;
    }
  }
}

.about-section {
  border-bottom: 1px solid $border-color;

  .about-card {
    @include padding(35px); 
    border-right: 1px solid $border-color;

    &:last-child {
      border-right: none;
    }
  }
}

.contact {
  position: relative;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;

  @include media-breakpoint-down(md) {
    padding: 300px 0 0;

    .contact-form-card {
      border-bottom: 1px solid $border-color;
    }

    .contact-form-card,
    .contact-info-card {
      min-height: auto !important;
    }
  }

  .map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .contact-form-card,
  .contact-info-card {
    padding: 35px;
    background: $white;
    min-height: 500px;
  }

  .contact-info-card {
    padding-right: 20px;
  }

  .contact-title {
    margin-bottom: 30px;

    &::after {
      content: "";
      width: 20px;
      height: 2px;
      background: $primary;
      display: block;
      margin-top: 10px;
    }
  }
}

.section .card {
  .experiences {
    .experience-item {
      overflow: hidden;
      .experience-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 15px;

        .title {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 5px;
        }
        .subtitle {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 5px;
        }
        .date {
          font-size: 14px;
          font-weight: 400;
        }

        .logo {
          width: 80px;
          height: 80px;
        }
      }
      .description {
        font-size: 14px;
        font-weight: 6s00;
        margin-bottom: 10px;
      }
      .skill-tags {
        .skill {
          font-size: 14px;
          font-weight: 400;
          &::after {
            content: ".";
            padding-left: 5px;
            padding-right: 2px;
            &:last-child {
              content: "";
              padding-right: 0px;
            }
          }
        }
      }
    }
  }
  .card-body {
    .subtitle {
      font-weight: 600;
    }
  }
}

.portfolio-container {
  .item {
    height: 230px;
    .card-body{
      padding-top: 0;
    }
    .card-image {
      position: relative;
      padding: 0;
      height: 100px;
      background-position: 50% 50%;
      background-blend-mode: darken;
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
      }
      .social {
        position: absolute;
        right: 20px;
        bottom: 10px;
      }
    }
    &.long {
      height: 400px;
      .card-image{
        min-height: 200px;
      }
    }

    &.card{
      margin-bottom: 0px !important;
    }
  }
}

.mh-5x {
  min-height: 50px;
}

.mh-10x {
  min-height: 100px;
}

.mh-15x {
  min-height: 150px;
}

.mh-20x {
  min-height: 200px;
}

.mh-18x {
  min-height: 180px;
}

.animate {
  // opacity: 1;
  // transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}
.no-btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


.more-content{
  transition: all .4s ease-out 0.2s;
}
.small-size{
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
}
.large-size{
  max-height: 1000px;
  opacity: 1;
}